.localnav-menu-link.current {
    font-weight: 600 !important;
}

#localnav .localnav-background:after {
    background: none;
}

#localnav .localnav-button {
    background: linear-gradient(to top left, #1ABCFA, #1C7DF3) !important;
}


.circle {
    border-radius: 999px;
}