:root {
    --bodyGutter: 25px
}

@media only screen and (min-width:1000px) {
    :root {
        --bodyGutter: 40px
    }
}

html.noscroll {
    overflow: hidden;
}

body {
    background-color: #fff;
    color: #000;
}

@media only screen and (min-width: 1067px) {
    #about-page .section-content {
        width: 50%;
    }
}

.appear-animate {
    opacity: 0;
    transform: translateY(100px);
    will-change: opacity,transform;
    transition: opacity .6s linear,transform .6s cubic-bezier(0.26,0.67,0.48,0.91);
}

.appear-animate.animated {
    opacity: 1;
    transform: translateY(0);
}

.typography-section-eyebrow {
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
}

@media only screen and (max-width: 1068px) {
    .typography-section-eyebrow {
        font-size: 21px;
        line-height: 1.19048;
        font-weight: 600;
        letter-spacing: 0.011em;
    }
}

.typography-section-headline {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    background: linear-gradient(0deg,#ffa745,#fe869f 30%,#ef7ac8 45%,#a083ed 70%,#43aeff 85%);
    background: -webkit-linear-gradient(0deg,#ffa745,#fe869f 30%,#ef7ac8 45%,#a083ed 70%,#43aeff 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1068px) {
    .typography-section-headline {
        font-size: 56px;
        line-height: 1.0714285714;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 600;
        letter-spacing: -0.005em;
    }
}

@media only screen and (max-width: 734px) {
    .typography-section-headline {
        font-size: 48px;
        line-height: 1.0834933333;
        font-weight: 600;
        letter-spacing: -0.003em;
    }
}

.typography-section-eyebrow+.typography-section-headline {
    margin-top: 20px;
}

@media only screen and (max-width: 1068px) {
    .typography-section-eyebrow+.typography-section-headline {
        margin-top: 15px;
    }    
}

@media only screen and (max-width: 734px) {
    .typography-section-eyebrow+.typography-section-headline {
        margin-top: 5px;
    }    
}

.cta {
    margin-top: 45px;
}

@media only screen and (max-width: 734px) {
    .cta {
        margin-top: 30px;
    }
}

@media only screen and (max-width:734px) {
    .cta :first-child {
        margin-top: 0px;
    }
}

.cta-action {
    color: #000;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
}

.typography-act-action {
    font-size: 24px;
    line-height: 1.3334133333;
    font-weight: 600;
    letter-spacing: .009em;
    cursor: pointer;
}

@media only screen and (max-width:1068px) {
    .typography-act-action {
        font-size: 21px;
        line-height: 1.381002381;
        font-weight: 600;
        letter-spacing: .011em;
    }
}

@media only screen and (max-width: 734px) {
    .typography-act-action {
        font-size: 19px;
        line-height: 1.3157894737;
        font-weight: 600;
        letter-spacing: .012em;
    }
}