.gallery {
    padding: 0;
    margin: 0;
    margin-top: 32px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 679px) {
    .gallery {
        flex-direction: column;
        justify-content: center;
    }
}

.gallery-card {
    --card-width: 340px;
    --card-height: 340px;
    --card-full-width: calc( (var(--card-width) * 2) - 5px);
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top:20px;
    height: calc(var(--card-height) - 5px);
    width: calc(var(--card-width) - 5px);
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.01), 0 2px 2px rgba(0,0,0,.01), 0 4px 4px rgba(0,0,0,.02), 0 8px 8px rgba(0,0,0,.03), 0 14px 14px rgba(0,0,0,.03);
    /*box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;*/
    -webkit-box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, .09);
    box-shadow: 4px 12px 40px 6px #00000017;
    position: relative;
    z-index: 1;
    background: #fff;
}

.gallery-card.animation-appear {
    -webkit-transition: -webkit-transform 1s cubic-bezier(.39, .575, .565, 1);
    transition: -webkit-transform 1s cubic-bezier(.39, .575, .565, 1);
    transition: transform 1s cubic-bezier(.39, .575, .565, 1);
    transition: transform 1s cubic-bezier(.39, .575, .565, 1), -webkit-transform 1s cubic-bezier(.39, .575, .565, 1);
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}

.gallery-card.animation-appear.appear {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.gallery-card.full {
    width: var(--card-full-width);
}

@media only screen and (max-width: 679px) {
    .gallery-card.full {
        width: var(--card-width);
    }
}

.gallery-card .card-content {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gallery-card .card-photo-container {
    position: relative;
}

@media only screen and (min-width: 641px) {
    .gallery-card .card-photo-container {
        transform: scaleX(1) scaleY(1) scaleZ(1);
        transition: 500ms;
    }
}

.gallery-card .card-photo {
    width: 100%;
    display: inline-block;
}

@media only screen and (min-width: 641px) {
    .gallery-card .card-photo {
        transform: scaleX(1) scaleY(1) scaleZ(1);
        transition: 500ms;
    }
}

.gallery-card .card-content:hover .card-photo {
    transform: scale(1.03)
}

.gallery-card .card-iconplus-container {
    position: absolute;
    color: #000;
    pointer-events: none;
    position: absolute;
    bottom: 26px;
    right: 34px;
    font-size: 40px;
}

@media only screen and (max-width: 1068px), (min-width: 1067px) and (max-height: 840px) {
    .gallery-card .card-iconplus-container {
        width: 28px;
        height: 28px;
        right: 22px;
        font-size: 28px;
        bottom: 30px;
    }
}