.section-about .section-content {
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1068px)  {
    .section-about {
        padding-bottom: 50px;
    }
}

.typography-about-copy {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;

}

@media only screen and (max-width: 1068px) {
    .typography-about-copy {
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 600;
        letter-spacing: .009em;
    }
}

@media only screen and (max-width: 734px) {
    .typography-about-copy {
        font-size: 21px;
        line-height: 1.381;
        font-weight: 600;
        letter-spacing: .011em;
    }
}

.section-about .about-copy {
    --angle: 120deg;
    margin-top: 70px;
    /*background: #ffe1c0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(var(--angle),#FFE1C0,#F34199);*/
    color: #86868b;
}

@media only screen and (max-width: 1068px) {
    .section-about .about-copy {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 734px) {
    .section-about .about-copy {
        --angle: 140deg;
        margin-top: 75px;
    }
}