.topnav {
    position: fixed;
    display: grid;
    width: calc(100% - 24px);
    top: 0;
    left: 0px;
    right: 0px;
    grid-template-columns: 1fr auto 1fr;
    border: 1px solid rgba(235, 238, 241, 0);
    border-radius: 72px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 150ms ease 0s, -webkit-transform 150ms ease 0s, -webkit-backdrop-filter 150ms ease 0s;
    margin: 8px auto;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 12px;
    z-index: 10;
}

@media screen and (min-width: 576px) {
    .topnav {
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

@media only screen and (min-width: 734px) {
    .topnav {
        max-width: calc(788px);
    }
}

.topnav.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(235, 238, 241, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.topnav .topnav-profilepicture-container {
    width: 44px;
    height: 44px;
    grid-column-start: 1;
    grid-row-start: 1;
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;
    background: #c292f5;
    border: 2px solid #e9eaee;
    transition: opacity .25s
}

.topnav.scrolled .topnav-profilepicture-container {
    opacity: 1;
}

.topnav .topnav-profilepicture {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    max-width: 100%;
    display: block;
    object-fit: contain;
    object-position: initial;
}

.topnav .topnav-profilename-container {
    grid-column-start: 2;
    grid-row-start: 1;
    opacity: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s;
}

.topnav.scrolled .topnav-profilename-container {
    opacity: 1;
}

.topnav .topnav-profilename {
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.topnav .topnav-menubutton {
    grid-column-start: 3;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-self: end;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(226, 226, 226);
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

.topnav.scrolled .topnav-menubutton {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}